<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Formulario de Registro</title>
    </head>
    <body>
        <h1>Conexion Base de datos</h1>
        <form action="/submit-form" method="post">
            <label for="paisNacimiento">País de nacimiento </label>
            <select id="paisNacimiento" name="paisNacimiento">
                {% for pais in paises %}
                    <option value="{{ pais[1] }}">{{ pais[0] }}</option>
                {% endfor %}
            </select>
        </form>

        <form>
            <label for="deptoNacimiento">Departamento de nacimiento </label>
            <select id="deptoNacimiento" name="deptoNacimiento">
                {% for departamento in departamentos %}
                    <option value="{{ departamento[0] }}">{{ departamento[1] }}</option>
                {% endfor %}
            </select>
        </form>
        <form>
            <label for="municipioNacimiento">Municipio de nacimiento </label>
            <select id="municipioNacimiento" name="municipioNacimiento">
                <option value="" disabled selected>Seleccione</option>
            </select>
        </form>
        <form>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
