body {
    font-family: Arial, sans-serif;
    background-image: url('./imagenes/fondo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: contain;
}
.form-container {
    width: 20px;
    height: 20px;
    margin: auto;
  }
  label{
    font-weight:bold;
  }
  input[type=text] {
    width: 20p;
    padding: 10px;
  }
  input[type=submit] {
    background-color: #7de680;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }
 .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab.active {
    border-bottom: 2px solid #007bff;
}

h1 {
    margin: 2em;
    text-align: center;
}
label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

